<div id="instagram" class="col-sm-12">
  <% if @team.name != "EVERTON" %>
    <% @imgs.each do |img| %>
    <div class="thumbnail">
      <%= image_tag img[:url], class: "img img-responsive " %>
      <div class="caption">
        <p>likes: <%= img[:likes] %></p>
        <p>comments: <%= img[:comments] %></p>
      </div>
    </div>
    <% end %>
 <% end %>
</div>