<div id="twitter" class="col-sm-12">
  <ul class="media-list">
    <% @tweets.each do |tweet| %>
    <li class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag tweet.user.profile_image_url, class: "media-object" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to "#{tweet.user.screen_name}", "https://twitter.com/#{tweet.user.screen_name}" %></h4>
        <p class="team-timeline-tweets"> <%= tweet.text %></p>
        <% if !tweet.try(:media).empty? %>
          <%= image_tag tweet.media[0].media_url %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>