<h2>About</h2>
<p>Sport for Social Fans helps fans keep track of the social activity of their team in social networks (Twitter, Instagram)
</p>


<h2>How it works:</h2>
<p>
Football Fans, in this project I had to come up with my own project and  interesting idea, and decided to create an app for football fans. It would allow fans to track all relevant team info from live twitter stream and Instagram.  I used pub/sub server for streaming, RoR, JS, jQuery, Bootstrap, AWS, Docker.
</p>

