
  <% @teams.each do |team| %>
    <ul class='list-unstyled list-inline btn btn-lg btn-default'>
      <li>
        <%= link_to team_path(team) do %> 
        <%=image_tag "#{team.img}" %>
      </li>
    </ul>
   <% end %>
  <% end %>


