<h1>Footbal Fans</h1>
<p>Follow your team</p>

<%= button_to 'Chelsea', chelsea_path, method: :get, form_class: "chelsea"  %>
<%= button_to 'Arcenal', arsenal_path, method: :get, form_class: "arsenal"  %>