<h1>Footbal Fans</h1>
<p>Follow your team</p>

<header>
  <% @teams.each do |team| %>
    <nav id="teams">
      <ul>
        <%= link_to team_path(team) do %> 
        <li><%=image_tag "#{team.img}" %></li>
      </ul>
    </nav>
   <% end %>
  <% end %>
</header>

