// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stream {
  // background: lightgrey;
  padding: 0px 0 0;
}
#show-teams {
  padding: 15px;
  margin: 10px;
  width: 300px;
  margin-left: 70px;
}

#show-teams a:link {
    text-decoration: none;
}

#show-teams a:visited {
    text-decoration: none;
}

#show-teams a:hover {
    text-decoration: none;
}

#show-teams a:active {
    text-decoration: none;
}

.jumbotron {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}

#instagram {
  display: none;
}

#twitter {
  display: block;
}

#tweet-container {
  max-height: 1000px;
  overflow: scroll;
}