// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stream {
  // background: lightgrey;
  padding: 0px 0 0;
}
#show-teams {
  padding: 15px;
  margin: 10px;
  width: 300px;
  margin-left: 70px;
  border: none;
}

#show-teams a:link {
  text-decoration: none;
}

#show-teams a:visited {
  text-decoration: none;
}

#show-teams a:hover {
  text-decoration: none;
}

#show-teams a:active {
  text-decoration: none;
}

.jumbotron {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}

#instagram {
  display: none;

  // top: 50%;

  // width: 70%;
  // background-color: #b0e0e6;
}

#twitter {
  display: block;
}

#tweet-container {
  max-height: 1000px;
  overflow: scroll;
}
.tweet-timeline-img {
  border-radius: 4px;
  float: left;
  height: 24px;
  margin: 0 6px 0 0;
  width: 24px;
}

.tweet-fullname {
  font-size: 14px;
  font-weight: bold;
  color: #292f33;
}

.tweet-screenname {
  color: #8899a6;
  font-size: 13px;
}
.thumbnail {
  border: none;
}

#tweets-timeline-size {
  width: 640px;
  height: 361px;
}

#instagram-timeline-size {
  width: 350px;
  height: 350px;
  padding: 20px;
  position: center;
  // padding-left: 100px;
  margin-left: auto;
  margin-right: auto;
}

#likes-comments {
  text-align: center;
  display: none;
}

#instagram-timeline-size:hover{
  #likes-comments {
    display: block;
  }  
}
